In [11]:
import pandas as pd

query_results1 = pd.read_csv('Bigquery_repositories_results.csv')
query_results1

,repo_name,Unnamed: 1,bytes,name_1,bytes_1
0,oktadeveloper/jhipster-microservices-example,NaN,1841,Java,628198
1,houshengbo/openwhisk,NaN,5837,Java,35199
2,sopnopriyo/sopnopriyo,NaN,440,Java,377238
3,openfl/lime,NaN,1163,Java,198390
4,MinoGames/lime,NaN,1163,Java,199152
...,...,...,...,...,...
3704,adangel/liquibase-percona,NaN,2406,Java,206224
3705,spinnaker/kayenta,NaN,874,Java,1206273
3706,intel-analytics/analytics-zoo,NaN,73165,Java,209136
3707,apycazo/codex,NaN,144,Java,399946
3708,pgentile/zucchini-ui,NaN,706,Java,271535

In [12]:
query_results2 = pd.read_csv('Bigquery_repositories_results_only_docker.csv')
query_results2

,repo_name,language,name,bytes
0,bootphon/zerospeech2017,"{\n ""language"": [{\n ""name"": ""C"",\n ""by...",Dockerfile,1004
1,gboudreau/Greyhole,"{\n ""language"": [{\n ""name"": ""C"",\n ""by...",Dockerfile,1427
2,Clarifai/kubernetes,"{\n ""language"": [{\n ""name"": ""C"",\n ""by...",Dockerfile,52719
3,dvdhrm/systemd,"{\n ""language"": [{\n ""name"": ""Awk"",\n ""...",Dockerfile,1039
4,Hucaru/Valhalla,"{\n ""language"": [{\n ""name"": ""Awk"",\n ""...",Dockerfile,386
...,...,...,...,...
21521,ascoderu/opwen-cloudserver,"{\n ""language"": [{\n ""name"": ""Dockerfile"",...",Dockerfile,5098
21522,nuxis/p0sX-server,"{\n ""language"": [{\n ""name"": ""Dockerfile"",...",Dockerfile,351
21523,LuisAlejandro/pipsalabim,"{\n ""language"": [{\n ""name"": ""Dockerfile"",...",Dockerfile,656
21524,tyrjola/robotframework-wiremock,"{\n ""language"": [{\n ""name"": ""Dockerfile"",...",Dockerfile,533
21525,mbucc/shmig,"{\n ""language"": [{\n ""name"": ""Dockerfile"",...",Dockerfile,587

In [13]:
studied_projects = pd.read_csv('../Article_Data/Studied Projects - Raw Data.csv')
studied_projects

,Repository,Link,KLOC,Stars,Contributors
0,alebabai/linden-honey,https://github.com/linden-honey/linden-honey,4.8,1,2
1,all-of-us/workbench,https://github.com/all-of-us/workbench,350.7,21,39
2,amazeeio/lagoon,https://github.com/amazeeio/lagoon,253.9,396,70
3,Artemkaaas/indy-sdk,https://github.com/Artemkaaas/indy-sdk,352.5,1,100
4,aspuru-guzik-group/mission_control,https://github.com/aspuru-guzik-group/mission_...,87.3,2,1
...,...,...,...,...,...
63,Soluto/tweek,https://github.com/Soluto/tweek,74.2,269,37
64,stafli-org/stafli.stack.php,https://github.com/stafli-org/stafli.stack.php,12.4,4,1
65,unbalancedparentheses/docker-erlang,https://github.com/unbalancedparentheses/docke...,5.0,5,1
66,vietj/vertx-pg-client,https://github.com/eclipse-vertx/vertx-sql-client,95.7,699,25
67,xhochy/arrow,https://github.com/xhochy/arrow,1200.0,1,100

In [22]:
query_results1[query_results1.repo_name.isin(studied_projects.Repository.tolist())]
print(len(query_results1[query_results1.repo_name.isin(studied_projects.Repository.tolist())]))

16

In [23]:
query_results2[query_results2.repo_name.isin(studied_projects.Repository.tolist())]
print(len(query_results2[query_results2.repo_name.isin(studied_projects.Repository.tolist())]))

28